#wrapper {

    /* 1 */
    background-color: #ea8d8d;
    background-image: linear-gradient(66deg, #ea8d8d 0%, #a890fe 77%);

    height: 100vh;
}

#landingPageRow{
    height: 85vh;
}

#landingPageTitle{
    font-size: 4em;
}
