.bg-wrapper {

    /* 1 */
    background-color: #ea8d8d;
    background-image: linear-gradient(66deg, #ea8d8d 0%, #a890fe 77%);

    height: 100vh;
}

.quizCard{
    background-color: #1e2833;
    border-radius: 25px;
    box-shadow: 20px 5px 2px rgba(91, 50, 83,0.2);
}

.quizButton{
    border-radius: 25px;
    background-color: #a890fe;
}

.quizButton:hover{
    background-color: #1e2833;
    border: solid 1px #a890fe;
}
